# ignore user settings
settings/*

# no user data
data/*
prh_data

# no user logs
logs/*

# no distribution packages
*.gem
*.zip

# ignore specific loading utility
bin/wmaps
bin/RHPG

# rebuild script
rebuild.sh
